@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Light.otf");
  font-weight: 200;
}
@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Semibold.otf");
  font-weight: 600;
}

body {
  color: #000;
  font: 16px "Source Sans", helvetica, arial, sans-serif;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  background-color: #ECECEC;
}

a {
color:#fff;
text-decoration: none;
}

.title {
   color: #FFFFFF;
    font-size: 1em;
    padding-top: 17px;
    text-transform: uppercase;
       padding-left: 15px;
}

.header {
	height: 50px;
	background-color: #CACCCC;
}


.wrapper-contador {
	background: url("../img/bg.png") center no-repeat;
	background-size: cover;
}



.pasos {
	min-height: 300px;
}

.contador {
	background: url("../img/circulo.png") center no-repeat;
	background-size: cover;
	width: 200px;
    height: 200px;
    margin-top: 70px;
    margin: 0 auto;
    position: relative;
    top: 55px;
}


span.numero {
	font-size: 4em;
	font-weight: bold;
}

.contador span {
    left: 32px;
    position: relative;
    top: 60px;
}


.boton  {
  padding: 15px 10px;
  background-color: #DB9000;
  color: #fff;
  width: 180px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 1em;
  border: none

}



.boton:disabled {
  background-color: #ccc;
}


.activacion {
position: absolute;
bottom: 0;
padding-bottom: 50px;
margin: 0 auto;
width: 100%;
}


.instrucciones {
  text-align: center;
}


.fin {
  height: 10px;
  background-color: #CACCCC; 
  bottom: 0;
}


.img-logo {
   float: right;
    position: relative;
    top: -31px;
    width: 74px;
       left: -26px;
}

.img-logo-intro {
margin: 0 auto;
width: 240px;
}

.siguiente {
  text-align: center;
  font-size: 1.5em;
}

h4.pausoka {
  border-bottom: 1px solid #d5d5d5;
    font-size: 2em;
    padding-bottom: 14px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.intro {
  text-align: center;
  margin-top: 50px;
}

p.intro {
  margin-top: 0.5em;
  line-height: 1.5em;
  margin-left: 2em;
  margin-right: 2em;
}

.instrucciones {
text-transform: uppercase;
}


.boton-wrapper {
  margin: 0 auto;
  width: 180px;
}

